.logo {
  text-align: center;
}

.linkLogo {
  color: var(--primary);
  font-size: 6.2rem;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.linkLogo:hover {
  filter: brightness(50%);
}

.linkLogo svg {
  height: 6.4rem;
  width: 6.4rem;
}

.linkLogo p {
  margin-top: -2rem;
}
